@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200;300;400&family=Montagu Slab:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 1440px) {
  .searchBar {
    display: flex;
    flex-direction: column;
  }
  .searchField{
    width: 300px !important;
    padding-left: 30px !important;
    font-family: 'Montagu Slab', serif;
    font-size: 25px !important;
    line-height: 2 !important;
    color: #7752B2 !important;
    border: 1px solid #7752B2 !important;
    border-radius: 50px !important;
    box-shadow: none !important;
  }
  .searchField::placeholder{
    font-family: 'Montagu Slab', serif;
    font-size: 25px;
    margin-left: 20px;
  }
  .navSearchBtn{
    display: none !important;
  }
  .searchResults {
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #d6affe;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    max-width: 300px;
    overflow-y: scroll;
    padding: 15px;
  }
  .searchResultHeader {
    font-family: 'Montagu Slab', serif;
    color: #A66DE0;
    border-top: 1px dotted #A66DE0;
    border-bottom: 1px solid #A66DE0;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0px !important;
    margin: 5px !important;
    white-space: nowrap;
  }
  .searchResult {
    color: #0D011B;
    text-decoration: none;
  }
  .resultsContainer {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 999;
  }
  .link {
    display: flex;
    width: fit-content;
    text-decoration: none;
  }
  .product{
    flex: 1;
    width: fit-content;
    min-width: 150px !important;
    border: .2px solid #d6affe !important;
  }
  .productBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .productImage{
    width: 100% !important;
  }
  .productTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 25px !important;
    padding: 0px !important;
  }
  .category{
    flex: 1;
    width: 350px;
    border: .2px solid #d6affe !important;
  }
  .categoryBody{
    height: 125px;
    display: flex;
    align-items: center;
    padding: 10px !important;
    overflow: visible;
  }
  .categoryImage{
    width: 100% !important;
  }
  .categoryTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 30px !important;
    padding: 0px !important;
    overflow: scroll;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .searchBar {
    display: flex;
    flex-direction: column;
  }
  .searchField{
    width: 400px;
    margin-right: 5px;
    color: #7752B2 !important;
    border-color: #7752B2 !important;
    border-radius: 25px !important;
    box-shadow: none !important;
  }
  .navSearchBtn{
    display: none !important;
  }
  .searchResults {
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #d6affe;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    max-width: 300px;
    overflow-y: scroll;
    padding: 15px;
  }
  .searchResultHeader {
    font-family: 'Montagu Slab', serif;
    color: #A66DE0;
    border-top: 1px dotted #A66DE0;
    border-bottom: 1px solid #A66DE0;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0px !important;
    margin: 5px !important;
    white-space: nowrap;
  }
  .searchResult {
    color: #0D011B;
    text-decoration: none;
  }
  .resultsContainer {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 999;
  }
  .link {
    width: fit-content;
    text-decoration: none;
  }
  .product{
    flex: 1;
    width: fit-content;
    border: .2px solid #d6affe !important;
  }
  .productBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .productImage{
    width: 100%;
  }
  .productHeader{
    display: flex;
    justify-content: space-between !important;
  }
  .productTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 15px !important;
    padding: 0px !important;
  }
  .productDescription{
    font-family: 'Montagu Slab', serif;
    font-weight: 300 !important;
    font-size: 12px !important;
    height: 60px !important;
    overflow: scroll;
  }
  .category{
    flex: 1;
    width: 200px;
    border: .2px solid #d6affe !important;
  }
  .categoryBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .categoryImage{
    width: 100% !important;
  }
  .categoryTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 13px !important;
    padding: 0px !important;
    height: 20px !important;
    overflow: scroll;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .searchBar {
    display: flex;
    flex-direction: column;
  }
  .searchField{
    width: 400px;
    margin-right: 5px;
    color: #7752B2 !important;
    border-color: #7752B2 !important;
    border-radius: 25px !important;
    box-shadow: none !important;
  }
  .navSearchBtn{
    display: none !important;
  }
  .searchResults {
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #d6affe;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    max-width: 300px;
    overflow-y: scroll;
    padding: 15px;
  }
  .searchResultHeader {
    font-family: 'Montagu Slab', serif;
    color: #A66DE0;
    border-top: 1px dotted #A66DE0;
    border-bottom: 1px solid #A66DE0;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0px !important;
    margin: 5px !important;
    white-space: nowrap;
  }
  .searchResult {
    color: #0D011B;
    text-decoration: none;
  }
  .resultsContainer {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 999;
  }
  .link {
    display: flex;
    width: fit-content;
    text-decoration: none;
  }
  .product{
    flex: 1;
    width: fit-content;
    min-width: 150px !important;
    border: .2px solid #d6affe !important;
  }
  .productBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .productImage{
    width: 100%;
  }
  .productHeader{
    display: flex;
    justify-content: space-between !important;
  }
  .productTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 12px !important;
    padding: 0px !important;
  }
  .productDescription{
    font-family: 'Montagu Slab', serif;
    font-weight: 300 !important;
    font-size: 10px !important;
    height: 60px !important;
    overflow: scroll;
  }
  .category{
    flex: 1;
    width: 150px;
    border: .2px solid #d6affe !important;
  }
  .categoryBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .categoryImage{
    width: 100% !important;
  }
  .categoryTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 12px !important;
    padding: 0px !important;
    height: 20px !important;
    overflow: scroll;
  }
}

@media (max-width: 767px) {
  .searchBar {
    display: flex;
    flex-direction: column;
  }
  .searchField{
    width: 400px;
    margin-right: 5px;
    color: #7752B2 !important;
    border-color: #7752B2 !important;
    border-radius: 25px !important;
    box-shadow: none !important;
  }
  .navSearchBtn{
    display: none !important;
  }
  .searchResults {
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #d6affe;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    max-width: 300px;
    overflow-y: scroll;
    padding: 15px;
  }
  .searchResultHeader {
    font-family: 'Montagu Slab', serif;
    color: #A66DE0;
    border-top: 1px dotted #A66DE0;
    border-bottom: 1px solid #A66DE0;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 0px !important;
    margin: 5px !important;
    white-space: nowrap;
  }
  .searchResult {
    color: #0D011B;
    text-decoration: none;
  }
  .resultsContainer {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 999;
  }
  .link {
    display: flex;
    width: fit-content;
    text-decoration: none;
  }
  .product{
    flex: 1 !important;
    min-width: 141.25px !important;
    border: .2px solid #d6affe !important;
  }
  .productBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .productImage{
    width: 100%;
  }
  .productHeader{
    display: flex;
    justify-content: space-between !important;
  }
  .productTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 15px !important;
    padding: 0px !important;
  }
  .category{
    flex: 1;
    width: 100px;
    border: .2px solid #d6affe !important;
  }
  .categoryBody{
    padding: 10px !important;
    overflow: hidden;
  }
  .categoryImage{
    width: 100% !important;
  }
  .categoryTitle{
    display: flex;
    font-family: 'Montagu Slab', serif;
    font-weight: normal;
    font-size: 12px !important;
    padding: 0px !important;
    height: 20px !important;
    overflow: scroll;
  }
}